// Define variables for your color scheme

// For example:
$red: #F04450;
$pink: #e8636c;
$blue: #4468B0;
$alert-blue: #608eff;
$yellow: #F1D52F;
$orange: #FDAA54;
$green: #64BC55;
$gray: #000000;
$brown: #302523;
$link-gray: #9b8e8b;
$light-brown: #e0dede;
$light-gray: #FFFFFF;
