// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway');

$headers-font: 'Roboto', sans-serif;
$body-font: 'Raleway', sans-serif;
$headers-font1: 'Open Sans', sans-serif;
$headers-font2: 'Lato', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";




