// Specific CSS for your home-page
.page-wrapper{
  min-height: 633px;
}

a { color: $link-gray; }
a:hover {
  text-decoration: none;
  color: $green;
}

.banner{
    color: white;
    background-size: cover;
    height: 700px;
    display: flex;
    background-position: center left;
    h4{
      padding: 58px 0;
    }
    .btn{ margin-left: 96px; }
    // justify-content: center;


  h1{ margin-top: 0;}
}

.banner-content{
  align-self: center;
  margin-left: 9em;
}

.container-info{
  text-align: center;
  padding-top: 32px;
  color: $brown;
}

.row-info{
  justify-content: center;
  padding: 33px 0;
}

.green{
  color: $green;
}

.info-col{
  align-self: center;
  text-align: center;
  .fi{
    font-size: 70px;
  }
}


.features-container{
  color: $brown;
}

@media screen and (max-width: 992px){
  .banner-content{ margin-left: 6em; }

  .banner{
    background-position: center;
  }
}

@media screen and (max-width: 767px){
  .info-col{
    margin-bottom: 45px;
    .info-card {
     width: 55%;
    margin: 0 auto;
    }
  }
}


@media screen and (max-width: 439px){

  .banner-content{
    margin-left: 3em;
    .btn{ margin-left: 27px; }
  }

  .banner{ height: 570px; }


}

