
//-------- Calendar view of meals---------

.index-container{
  color: $brown;
}

.seven-columns:last-child{
  border-right-style: double;
  border-color: $light-brown;
}

.index-row{
  padding-bottom: 60px;
}

.index-card{
  height: 100%;
  text-align: center;
  border-bottom-style: double;
  border-left-style: double;
  border-color: $light-brown;
  border-right: 1px double rgba(0, 0, 0, 0);
  border-radius: 3px;
}

.index-card:hover{
   border-color: $green;
   cursor: pointer;
   .card-heading{ background-color: $green; }
   a{ color: $green; }
}



.fa-plus-circle{
  color: $green;
  height: max-content;
}


.avatar-md{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.card-heading{
  background: $brown;
  color: white;
  padding: 2px 0;
}

.card-body{
  padding: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  height: calc(100% - 29px);
}

.hidden-form {
  display: none;
}

.link-icon{
  height: 22px;
}

.meal-link{
  margin: auto 0;
}

.popover{
  font-size: 15px;
}
.form-control{
  font-size: 14px;
  color: $brown;
}

@media screen and (min-width: 991px){
  .index-row{
    display: flex;
  }

  .seven-columns{
    width: calc(100% / 7);
  }
}

.right-align{
  text-align: right;
}
