.group-heading{
  margin: 10px;
  text-align: center;
  color: $brown;
  h1{ display: inline-block; }
  i{ font-size: 52px; }
}
.remove{
  color: $link-gray;
  margin-top: 10px;
}

.remove:hover{
    color: $red;
  }

.remove:active{
  color: $red;
}


.nested-fields .select{
  border: 0;
  outline: 1px solid #ccc;
  background-color: white;
}

.form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
    border-color: #66afe9;
  }

.add{
  color: $link-gray;
  font-family: $body-font;
  :hover{ text-decoration: none; }
}

.fa-user-plus{
  color: $link-gray;
}

.left-align{
  text-align: left;
}

.center-btn{
  text-align: center;
}
