<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class ="group-heading">
        <h1>New Group</h1>
        <i class="fi flaticon-people-4"></i>
        <h4>Who's in your kitchen?</h4>
      </div>
      <%=  render 'form' %>
    </div>
  </div>

</div>
