<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ahogue1" target="blank"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/aehogue/" target="blank"><i class="fa fa-linkedin"></i></a>
  </div>

  <%= link_to "http://www.amyhogue.com/",  target: :_blank do %>
    <div class="yam-footer">
      <p>Powered By</p>
      <%= image_tag("yam.png")%>
      <p>Yam</p>
    </div>
    <% end %>
</div>
