<div class="banner" , style="background-image: url(<%= image_path("background.jpg")%> );">
  <div class="banner-content">
    <h1>Who Cooks</h1>
    <h1>Meal Planner</h1>

    <h4>Easily plan group meal schedules</h4>

     <%= link_to "Get Started", meals_path , class: "btn btn-primary" %>
  </div>
</div>

<div class="container container-info">
  <h1>How it works</h1>
  <div class="row-info">
    <div class="col-xs-12 col-sm-5 col-md-4 info-col">
      <i class="fi flaticon-people-4"></i>
      <div class="info-card">Add friends or family to your digital kitchen</div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 info-col">
      <i class="fi flaticon-book"></i>
      <div class="info-card">Easily find and organize your recipes for the week</div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 info-col">
      <i class="fi flaticon-cooking-2"></i>
      <div class="info-card">Take turns cooking amazing meals made from the best recipes!</div>
    </div>
  </div>
</div>


<div class="features-container">
<h2>Features section</h2>
</div>
