<div class="meal-container">


    <!-- Only visible if user hasn't saved a recipe -->
  <% if @recipes %>
    <%= render "recipe" %>

<!-- Only visible if user has saved one recipe for the day -->
  <% else %>
    <%= render "recipes" %>

  <% end %>

<!-- list recipe ingredients if recipe has been saved for the day -->
  <% if @recipes.nil? %>
    <div class="ingredient-list">
      <h3>Ingredients</h3>
      <% @recipe.ingredients.each do |ingredient| %>
        <p> <%= ingredient.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
